---
import { Code } from "astro/components";
import type * as shiki from "shiki";
import fileIcon from "@assets/images/icons/file-2.svg";
import consoleIcon from "@assets/images/icons/console.svg";

export interface Props {
  lang: shiki.Lang | shiki.ILanguageRegistration;
  fileName: string;
  code: string;
  icon: "file" | "console";
}

const { lang, fileName, code = "", icon = "file" } = Astro.props as Props;

const imageIcon = {
  file: fileIcon,
  console: consoleIcon,
}[icon];

const fileNameBlock = fileName
  ? `<div class="file-name"><img class="code-block__file-icon" src="${imageIcon}"/>${fileName}</div>`
  : "";

let html: string = code;

if (Astro.slots.has("default")) {
  html = await Astro.slots.render("default");
}
---

<div class="code-snippet">
  <Fragment set:html={fileNameBlock} />
  <Code code={html} lang={lang} wrap theme={"vitesse-light"} />
</div>

<style>
  .code-snippet :global(.astro-code) {
    padding-left: 20px;
    margin-top: 0;
    font-family: IBM Plex Sans;
    border-radius: 0 6px 6px 6px;
  }

  .code-snippet :global(.file-name) {
    background: #dbf0ff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-flex;
    align-items: center;
    border-radius: 6px 6px 0 0;
  }

  .code-snippet :global(.code-block__file-icon) {
    height: 1em;
    margin-right: 5px;
  }
</style>
