---
import Header from "@components/Header.astro";
import SEO from "@components/Seo.astro";

import "/src/styles/common.css";
import "/src/styles/fonts.css";

export interface Props {
  title: string;
  description: string;
  socialImage: ImageMetadata;
  siteName?: string;
  type?: "post";
}

let {
  title,
  description,
  socialImage,
  siteName,
  type
} = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <SEO 
      title={title}
      description={description}
      socialImage={socialImage}
      siteName={siteName} />
  </head>
  <body class={type}>
    <Header />
    <div class="content">
      <slot />
    </div>
  </body>
</html>

<style>
  .content {
    min-height: calc(100vh - 218px);
    padding-bottom: 5.5 rem;
  }
</style>
